body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/*
 * スタイルガイドのデフォルトのスタイル
 * (preview箇所以外に適応させる)
 */
/*
---
name: リンク
tag:
  - parts
---

<a href="#">リンク</a>
*/
.aigis-contents__heading,
.aigis-contents__body > :not(.aigis-module),
.aigis-module > :not(.aigis-preview),
.aigis-sidemenu,
.aigis-footer
{
  font-family: '游ゴシック体', Yu Gothic, YuGothic, 'ヒラギノ角ゴシック Pro', Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', MS PGothic, sans-serifbody, serif;

  a {
    color: $color-main;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


/*
---
name: ガイド・タイトル
tag:
  - parts
---

スタイルガイドのタイトルが入ります。

```html
<div class="aigis-title">StyleGuide Title</div>
```

こんな感じです。
*/
.aigis-title {
  font-size: 22px;
  font-weight: bold;
}


/*
---
name: ページ内見出し
tag:
  - parts
---

```html
<div class="aigis-contents__title">StyleGuide Title</div>
<ul class="aigis-moduleList">
  <li class="aigis-moduleList__item">parts list</li>
  <li class="aigis-moduleList__item">parts list</li>
</ul>
```
*/
.aigis-contents__title {
  background-color: $color-accent;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 1.5em;
}
.aigis-moduleList {
  &__item {
  }

  margin-bottom: 30px;
}


/*
---
name: タグ
tag: parts
---

```html
<a class="aigis-tags__item" href="#">Tag Name</a>
```
*/
.aigis-tags {
  text-align: right;
  font-size: 0.95rem;

  &__item {
    display: inline-block;
    color: $color-main;
    text-decoration: none;
    border: 1px solid $color-border;
    padding: 4px 6px;
    margin-left: 10px;
    border-radius: 3px;

    &:before {
      font: normal normal normal 14px/1 FontAwesome;
      font-smoothing: antialiased;
      content: "\f02b";
      margin-right: 6px;
    }
  }
}

a.aigis-tags__item:hover {
  color: #fff;
  background-color: $color-main;
  text-decoration: none;
}
