<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="{{root}}assets/highlight.css" rel="stylesheet">
  <link href="{{root}}assets/theme.css" rel="stylesheet">
  <title>{{config.name}}</title>
</head>
