<nav class="aigis-module">
  <ul class="aigis-moduleList">
  {{#each modules}}
    <li class="aigis-moduleList__item"><a href="#{{this.config.name}}">{{this.config.name}}</a>
  {{/each}}
  </ul>
</nav>
